::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar::after {
	content: "hello";
	background-color: red;
	padding: 1000px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background-color: hsl(0, 0%, 45%);
	border: none;
	border-radius: 100vh;
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsl(0, 0%, 55%);
}
::-webkit-scrollbar-thumb:active {
	background-color: hsl(0, 0%, 50%);
}
::-webkit-scrollbar-track {
	background-color: hsla(0, 0%, 100%, 0);
	border: 1px solid hsla(0, 0%, 100%, 0.1);
	border-radius: 100vh;
	margin: 6px 0 6px 0;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
