.bool {
  padding: calc(var(--bool--btn-size) / 2);
  border-radius: var(--bool--border-radius);
  background-color: var(--bool--bg-clr-default);
  outline: none;
  position: relative;
}
.bool:hover {
  background-color: var(--bool--bg-clr-hover);
}
.bool:active {
  background-color: var(--bool--bg-clr-active);
}
.bool.toggled {
  background-color: var(--bool--bg-clr-toggled);
}
.bool.toggled:hover {
  background-color: var(--bool--bg-clr-toggled-hover);
}
.bool.toggled:active {
  background-color: var(--bool--bg-clr-toggled-active);
}
.bool > img {
  --width: calc(1.3em * var(--bool--tick-size));
  --height: calc(1.0em * var(--bool--tick-size));
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: calc(50% - var(--width) / 2);
  top: calc(50% - var(--height) / 2);
}