.btn,
button {
  background: var(--btn--bg-clr-default);
  border-radius: var(--btn--border-radius);
  border-color: var(--btn--border-clr);
  border-width: var(--btn--border-width);
  border-style: solid;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
  color: var(--txt-clr);
  display: flex;
  vertical-align: middle;
  float: left;
  margin-right: 0.5em;
}
.btn:hover,
button:hover {
  background-color: var(--btn--bg-clr-hover);
}
.btn:active,
button:active {
  background-color: var(--btn--bg-clr-active);
}
.btn.toggled,
button.toggled {
  background-color: var(--btn--bg-clr-toggled);
}
.btn.toggled:hover,
button.toggled:hover {
  background-color: var(--btn--bg-clr-toggled-hover);
}
.btn.toggled:active,
button.toggled:active {
  background-color: var(--btn--bg-clr-toggled-active);
}