:root {
    --txt-clr:                          hsl(0, 0%, 90%);
    --bg-clr:                           hsl(0, 0%, 15%);
    --border-radius:                    4px;
    --topbar-bg-clr:                    hsl(0, 0%, 20%);

    --tab-bg-clr:                       hsl(0, 0%, 18%);

    --btn--bg-clr-default:           hsl(0, 0%, 46%);
    --btn--bg-clr-hover:             hsl(0, 0%, 38%);
    --btn--bg-clr-active:            hsl(0, 0%, 40%);
    --btn--bg-clr-toggled:           hsl(278, 30%, 52%);
    --btn--bg-clr-toggled-hover:     hsl(278, 30%, 55%);
    --btn--bg-clr-toggled-active:    hsl(278, 30%, 50%);
    --btn--border-radius:            6px;
}