@use 'variables';

@use 'main';

.lm_tab {
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
    background: var(--bg-clr) !important;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    height: 24px !important;
    box-sizing: border-box;
    line-height: 24px;
    font-weight: bold;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

.no-select {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}